.btn,
.btn:hover,
.btn:active,
.btn:visited {
  background-color: #f6e1c3 !important;
}
.start_button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quiz-box footer {
  background-color: #f6e1c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz-box footer .questionNumber span {
  color: #473419;
  font-size: 16px;
  font-weight: 600;
}
.nextButton {
  background-color: #f6e1c3;
  border: 0;
  color: #473419;
  font-weight: 700;
  font-size: 16px;
}
.nextButton:active {
  background-color: #71562f;
  color: #fefcf9;
  border-radius: 4px;
}
.page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-box {
  width: 32em;
  background-color: #fefcf9;
  opacity: 0;
  pointer-events: none;
}
.quiz-box header {
  background-color: #f6e1c3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
  color: #71562f;
}

.quiz-box header .questionNumber {
  font-size: 20px;
  font-weight: 700;
  color: #71562f;
}

.quiz-box .question_text {
  font-size: 24px;
  font-weight: 700;
  color: #473419;
}

.quiz-box .option_list {
  padding: 18px 0;
}

.quiz-box .option_list .option {
  border: 1px solid #151d3b;
  border-radius: 8px;
  padding: 8px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #faf0e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box .option_list .option:hover {
  color: #151d4c;
  background-color: #f6e1c3;
}

.quiz-box .option_list .option.correct {
  background-color: #c3f6e1;
}
.quiz-box .option_list .option.incorrect {
  background-color: #ffbebe;
}
.quiz-box.active {
  opacity: 1;
  pointer-events: auto;
}

.quiz-box .option_list .option.disabled {
  pointer-events: none;
}

.quiz-box .nextButton {
  opacity: 0;
  pointer-events: none;
}

.quiz-box .nextButton.show {
  opacity: 1;
  pointer-events: auto;
}

.quiz-box header .scoreBoard {
  font-weight: 600;
  color: #473419;
}

.result {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  width: 32em;
  background-color: #fefcf9;
  opacity: 0;
  pointer-events: none;
}
.result header {
  background-color: #f6e1c3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #473419;
}

.result header .title {
  font-size: 20px;
  font-weight: 600;
  color: #71562f;
}
.result .card-body {
  text-align: center;
}
.result footer {
  background-color: #f6e1c3;
  text-align: center;
}
.restartButton {
  background-color: #f6e1c3;
  border: 0;
  color: #473419;
  font-weight: 700;
  font-size: 16px;
}
.restartButton:active {
  background-color: #71562f;
  color: #fefcf9;
  border-radius: 4px;
}
.result .card-body img {
  height: 128px;
}
.result.active {
  opacity: 1;
  pointer-events: auto;
}
