body {
  margin: 0;
  padding: 0;
  background: rgb(230, 241, 255);
}

.btn_start {
}
.quiz-box footer {
  background-color: #5352ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz-box footer .questionNumber span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
.nextButton {
  border-radius: 8px;
  border: 0;
  color: #5352ed;
  font-weight: 700;
  font-size: 16px;
}
.nextButton:active {
  background-color: #ced6e0;
  color: #ffffff;
  background-color: #3742fa;
  border-radius: 4px;
}
.page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-box {
  background-color: #fefcf9;
  opacity: 0;
  pointer-events: none;
}
.quiz-box header {
  background-color: #5352ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.quiz-box header .questionNumber {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.quiz-box .question_text {
  font-size: 24px;
  font-weight: 700;
  color: #2f3542;
}

.quiz-box .option_list {
  padding: 18px 0;
}

.quiz-box .option_list .option {
  border: 1px solid #151d3b;
  border-radius: 8px;
  padding: 8px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f1f2f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz-box .option_list .option:hover {
  color: #ffffff;
  background-color: #70a1ff;
}

.quiz-box .option_list .option.correct {
  background-color: #2ed573;
  color: #ffffff;
}
.quiz-box .option_list .option.incorrect {
  background-color: #ff6b81;
  color: #ffffff;
}
.quiz-box.active {
  opacity: 1;
  pointer-events: auto;
}

.quiz-box .option_list .option.disabled {
  pointer-events: none;
}

.quiz-box .nextButton {
  opacity: 0;
  pointer-events: none;
}

.quiz-box .nextButton.show {
  opacity: 1;
  pointer-events: auto;
}

.quiz-box header .scoreBoard {
  font-weight: 600;
  color: #ffffff;
}

.result {
  transform: translate(0%, 100%);
  background-color: #fefcf9;
  opacity: 0;
  pointer-events: none;
}
.result header {
  background-color: #5352ed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.result header .title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.result .card-body {
  text-align: center;
}
.result footer {
  background-color: #5352ed;
  text-align: center;
}
.restartButton {
  border-radius: 8px;
  border: 0;
  color: #5352ed;
  font-weight: 700;
  font-size: 16px;
}
.restartButton:active {
  background-color: #ced6e0;
  color: #ffffff;
  background-color: #3742fa;
  border-radius: 4px;
}
.result .card-body img {
  height: 128px;
}
.result.active {
  opacity: 1;
  pointer-events: auto;
}
.timeLine {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  /* width: 200px; 0 - 32em*/
  background: #ff6b81;
}
